/* ABOUT US SECTION*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  gap: 50px;
  background: wheat;
}
/* LEFT SIDE */
.about-text {
  flex: 1;
}
.about-text h4 {
  color: blue;
  padding-bottom: 12px;
  letter-spacing: 2px;
}
.about-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
.about-text p {
  font-size: 18.5px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: blueviolet;
}
.about-text ul {
  padding-bottom: 30px;
  list-style: none;
}
.about-text .btn {
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  color: wheat;
  padding: 15px 35px;
  border-radius: 10px;
}
.about-text .btn:hover {
  background-color: darkblue;
}
.about-image {
  flex: 1;
}
.about-image img {
  width: 100%;
  border-radius: 50%;
}

/* ABOUT RESPONSIVENESS*/

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 60px 7%;
    gap: 35px;
  }

  .about-text {
    width: 100%;
  }

  .about-text h2 {
    font-size: 36px;
  }

  .about-text p {
    font-size: 17px;
  }

  .about-image {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 50px 6%;
    gap: 25px;
  }

  .about-text h4 {
    font-size: 14px;
  }

  .about-text h2 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 16px;
    line-height: 1.6;
  }

  .about-text ul {
    padding-bottom: 20px;
  }

  .about-image {
    width: 100%;
  }

  .about-text .btn {
    padding: 12px 25px;
  }
}